@charset "UTF-8";
@import "../../theme-chalk/common/var";
@import "../../theme-chalk/mixins/mixins";

@include b(loading-parent) {
  @include m(relative) {
    position: relative!important;
  }
  @include m(hidden) {
    overflow: hidden!important;
  }
}

@include b(loading-mask) {
  position: absolute;
  z-index: 2000;
  background-color: rgba(255, 255, 255, .9);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
}
